body { 
    background: black; 
    color: white;
    font-size: 100%;
    font-family: "Open Sans", Arial, sans-serif;
}

.link-box {
    width: 100px; height: 100px;
    margin: 10px;
    display: inline-block;
    background: #FFFAFA;
    border: 0; border-radius: 100%;
}
.link-box img {
    width: 100px; height: 100px;
    margin: 0; padding: 0; border: 0;
}
.link-box:visited {
    background: #F4A460;
}
.link-box:hover {
    background: #A9A9A9; border-radius: 50%;
}
header {
    position: absolute; top: 0px; left: 0px;
    width: 1000px; height: 300px;  
    margin: auto;
    margin-bottom: 100px;
}
h1 {
    font-size: 1.4em;
    text-align: center;
}
h2 {
    text-align: center;
    font-size: 1.6em;
    font-weight: bold;
    letter-spacing: 4px;
    text-shadow: 0 0 3px white, 
                 0 0 5px white,
                 0 0 8px white,
                 0 0 10px #AC00DB,
                 0 0 13px #AC00DB,
                 0 0 15px #AC00DB;
}


#news {
     
    background-image: url("../images/01_news_frame.png");
}
#entertainment {
    
    background-image: url("../images/02_ent_frame.png");
}
#linux {
    
    background-image: url("../images/03_linux_frame.png");
}
#computers {
    
    background-image: url("../images/04_comp_frame.png");
}
#socialm {
    
    background-image: url("../images/05_socialm_frame.png");
}
#other {
    
    background-image: url("../images/other_frame.png");
}
#learning {
    
    background-image: url("../images/06_learning_frame.png");
}
#shopping {
    
    background-image: url("../images/07_shopping_frame.png");
}

.carousel {
    margin-left: 100px;
    margin-top: 120px;
    -webkit-perspective: 2000;
    -webkit-perspective-origin: 480px 300px;
}
.carousel ul {
    margin: 0; padding: 0;
    width: 50000px;
    height: 600px;
    webkit-transform-style: preserve-3d;
}
.carousel ul li {
    width: 600px; height: 600px;
    display: block;
    float: left;
    margin-left: -100px;
    margin-right: -100px;
    text-align: center;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
}
.carousel ul li.left {
    -webkit-transform: scale(0.5, 0.5)translateX(-100px)translateY(-100px)rotateY( 35deg );
    -webkit-transform-origin: 0px;
    opacity: 0.3;
}
.carousel ul li.left img, .carousel ul li.right img {
    opacity: 0.1;
}
.carousel ul li.right {
    -webkit-transform: scale(0.5, 0.5)translateX(100px)translateY(100px)rotateY( -35deg );
    -webkit-transform-origin: 400px;
    opacity: 0.3;
}
.carousel ul li.current {
    z-index: 10000;
    opacity: 1.0;
}
